In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Import the new cities CSV file with the weather descriptions, rain and snow data. 
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Tuktoyaktuk,CA,69.45,-133.04,-4.0,83,20,5.82,few clouds,0.0,0.0
1,1,Georgetown,MY,5.41,100.34,82.4,83,40,2.24,scattered clouds,0.0,0.0
2,2,Chhabra,IN,24.67,76.83,70.7,22,0,3.49,clear sky,0.0,0.0
3,3,Bethel,US,41.37,-73.41,36.0,74,1,4.05,clear sky,0.0,0.0
4,4,Albany,US,42.60,-73.97,32.0,100,20,3.36,fog,0.0,0.0

In [3]:
# Check the data types
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)          float64
dtype: object

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Enter max temperature criteria. 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 60
What is the maximum temperature you would like for your vacation? 80

In [6]:
# Ask the customer if you they want it to be raining. 
rain_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [7]:
# Ask the customer if you they want it to be snowing. 
snow_amount = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be snowing? (yes/no) no

In [8]:
# Narrow down cities that fit criteria
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] > 0.0)]
    
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0)]

In [9]:
filtered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
2,2,Chhabra,IN,24.67,76.83,70.70,22,0,3.49,clear sky,0.0,0.0
7,7,Waipawa,NZ,-41.41,175.52,60.80,77,14,8.05,few clouds,0.0,0.0
9,9,Saldanha,ZA,-33.01,17.94,77.00,27,0,20.80,clear sky,0.0,0.0
14,14,Hermanus,ZA,-34.42,19.23,69.01,53,0,5.99,clear sky,0.0,0.0
15,15,Ancud,CL,-41.87,-73.82,64.00,45,0,12.75,clear sky,0.0,0.0
16,16,Alice Springs,AU,-23.70,133.88,68.00,28,31,6.93,scattered clouds,0.0,0.0
18,18,Avarua,CK,-21.21,-159.78,73.40,83,100,13.87,overcast clouds,0.0,0.0
19,19,Atuona,PF,-9.80,-139.03,78.10,76,23,18.79,few clouds,0.0,0.0
22,22,Johi,PK,26.69,67.61,77.58,18,0,1.21,clear sky,0.0,0.0
24,24,Luderitz,NaN,-26.65,15.16,72.52,41,17,28.79,few clouds,0.0,0.0

In [10]:
filtered_cities_df.count()

City_ID                175
City                   175
Country                173
Lat                    175
Lng                    175
Max Temp               175
Humidity               175
Cloudiness             175
Wind Speed             175
Current Description    175
Rain (inches)          175
Snow (inches)          175
dtype: int64

In [11]:
# Drop any empty rows and make a new DataFrame.
clean_travel_cities = filtered_cities_df.dropna()
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
2,2,Chhabra,IN,24.67,76.83,70.70,22,0,3.49,clear sky,0.0,0.0
7,7,Waipawa,NZ,-41.41,175.52,60.80,77,14,8.05,few clouds,0.0,0.0
9,9,Saldanha,ZA,-33.01,17.94,77.00,27,0,20.80,clear sky,0.0,0.0
14,14,Hermanus,ZA,-34.42,19.23,69.01,53,0,5.99,clear sky,0.0,0.0
15,15,Ancud,CL,-41.87,-73.82,64.00,45,0,12.75,clear sky,0.0,0.0

In [12]:
clean_travel_cities.count()

City_ID                173
City                   173
Country                173
Lat                    173
Lng                    173
Max Temp               173
Humidity               173
Cloudiness             173
Wind Speed             173
Current Description    173
Rain (inches)          173
Snow (inches)          173
dtype: int64

In [13]:
clean_travel_cities.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description', 'Rain (inches)',
       'Snow (inches)'],
      dtype='object')

## Hotel Map

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Chhabra,IN,70.70,clear sky,24.67,76.83,
7,Waipawa,NZ,60.80,few clouds,-41.41,175.52,
9,Saldanha,ZA,77.00,clear sky,-33.01,17.94,
14,Hermanus,ZA,69.01,clear sky,-34.42,19.23,
15,Ancud,CL,64.00,clear sky,-41.87,-73.82,
16,Alice Springs,AU,68.00,scattered clouds,-23.70,133.88,
18,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,
19,Atuona,PF,78.10,few clouds,-9.80,-139.03,
22,Johi,PK,77.58,clear sky,26.69,67.61,
25,Vaini,TO,73.40,broken clouds,-21.20,-175.20,

In [16]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Chhabra,IN,70.70,clear sky,24.67,76.83,Royal place merrage Hall
7,Waipawa,NZ,60.80,few clouds,-41.41,175.52,Tora Coastal Walk
9,Saldanha,ZA,77.00,clear sky,-33.01,17.94,
14,Hermanus,ZA,69.01,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
15,Ancud,CL,64.00,clear sky,-41.87,-73.82,Hotel Arena Gruesa
16,Alice Springs,AU,68.00,scattered clouds,-23.70,133.88,Desert Palms Alice Springs
18,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,Paradise Inn
19,Atuona,PF,78.10,few clouds,-9.80,-139.03,Villa Enata
22,Johi,PK,77.58,clear sky,26.69,67.61,Mohmmadi masjid chandan mori
25,Vaini,TO,73.40,broken clouds,-21.20,-175.20,Keleti Beach Resort

In [18]:
# Create the output File (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Add a pop-up markers to each city

In [20]:
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Chhabra,IN,70.70,clear sky,24.67,76.83,Royal place merrage Hall
1,7,Waipawa,NZ,60.80,few clouds,-41.41,175.52,Tora Coastal Walk
2,9,Saldanha,ZA,77.00,clear sky,-33.01,17.94,NaN
3,14,Hermanus,ZA,69.01,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
4,15,Ancud,CL,64.00,clear sky,-41.87,-73.82,Hotel Arena Gruesa

In [21]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [22]:
# Add marker layer. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))